:root{
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}
header {
    display: flex;
    width: auto;
    height: 65px;
    background-color: #131921;
    align-items: center;
    justify-content: space-around;
}
input{
    height: 30px;
    width: 1030px;
    margin-right: 2px;
}
.search{
    display: flex;
}
.submenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    height: 40px;
    
    
}
nav ul,
nav li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
nav ul{
    display: flex;
}
nav a{
    display: flex;
    min-height: 40px;
    padding: 17px;
    text-decoration: none;
    color: white;
    background-color: #232F3E;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
}
nav{
    width: 100%;
    margin: 0;
}
nav .submenu a,
nav a:hover{
    border: solid 1px white;
}

section{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
}

.produto img{
    height: 300px;
    width: 500px;
    margin-top: 120px;
}
.valor {
    font-size: 50px;
    margin-left: 39px;
}
.descvalor{
    font-size: 23px;
}
.list{
    font-size: 15px;

}
h1{
    font-size: 16px;
}
h2{
    font-size: 12px;
}
.avali{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
h3 { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
h4 {
    font-size: 16px;
}
.compra{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-left: 20px;
    margin-top: 70px;
}
.entrega {
    margin: 4px;
}
.b1 {
    background-color: #F7CA00;
    color: black;
    border-radius: 12px;
    width: 190px;
    height: 33px;
    margin-top: 10px;
}
.b2 {
    background-color:#FA8900;
    color: black;
    border-radius: 12px;
    width: 190px;
    height: 33px;
    margin-top: 10px;
}
b2:hover{
    color: black;
    
}
.b1:hover{
    color: black;
    
}
.estoque{
    color: green;
    margin-top: 3px;
}
h6{
    font-size: 12px;
    margin-top: 0;
}
.h1v {
    font-size: 30px;
}
.h1v2{
    font-size: 13px;
}
footer{background-color: #232F3E;
height: 300px;
width: 100%;
margin-top: 60px;

}
.fdesc{
    margin-left: 800px;
    color: white;
    font-size: 40px;
}